<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ng.com.epump.pos.isw">

    <application>
        <activity
            android:name=".ui.CardTransactionActivity"
            android:exported="false"
            android:theme="@style/Library_Theme" />
    </application>

</manifest>